
<nav class="navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Spindox</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li routerLinkActive="active" ><a routerLink="/posts">Posts</a></li> -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Posts</a>
          </li>
          <!-- <li routerLinkActive="active" ><a routerLink="/comment-list">Comment List</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right open">
          <li class="dropdown" appDropdown>
            <!-- <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a> -->
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Manage
              </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item">Option1</a></li>
              <li><a class="dropdown-item">Option2</a></li>
              <li><a class="dropdown-item">Option3</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>