<!-- single item -->
<a
[routerLink]="[index]"
class="list-group-item list-group-item-action"
aria-current="page"
routerLinkActive="active">

<h5 class="mb-1">{{ post.title }} - <span class="fs-6">{{ post.author }}</span> </h5>
<small>{{ post.body }}</small>

</a>
<!-- single item -->


<!-- bootstrap list-group with badges

    <ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    A list item
    <span class="badge bg-primary rounded-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    A second list item
    <span class="badge bg-primary rounded-pill">2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    A third list item
    <span class="badge bg-primary rounded-pill">1</span>
  </li>
</ul> 
-->