<div class="container card" style="margin-top: 20px; padding: 20px">
    <div class="row">
        <div class="col-xs-2 align-self-start">
            <h1>{{ post ? post.title : ''}}</h1>
        </div>
        <div class="col-xs-2 align-self-start">
            {{ post ? post.author : ''}}
        </div>
        <div class="col-xs-5 align-self-start">
            {{ post ? post.body : ''}}
        </div>
        <div class="col-xs-1 align-self-end">
            <button type="button" class="btn btn-primary" (click)="onEdit()"> Edit </button>
            <button type="button" class="btn btn-primary" (click)="onDelete()"> Delete </button>
        </div>
    </div>
</div>

<div class="container card" style="margin-top: 20px; padding: 20px">
    <div class="row">
        <div class="col-xs-12" *ngIf="post">

            <div class="" *ngIf="post.comments.length < 1">
                <p>No comments</p>
            </div>
        </div>
    </div>
    <div *ngIf="post" class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-group-item" 
                style="border: none;"
                *ngFor="let comment of post.comments">
                    <small>{{ comment.author }}:</small> {{ comment.text }}
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <form
        style="margin-top: 20px;"
        [formGroup]="commentForm" 
        (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="author" class="form-label">Author</label>
              <input type="text" 
              class="form-control form-control-sm" id="author" 
              formControlName="author">
            </div>
            <div class="mb-3">
              <label for="text" class="form-label"
              (keyup)="handleKeyUp($event)">Comment</label>
              <input type="text" 
              class="form-control form-control-sm" id="text"
              formControlName="text">
            </div>
            <button type="submit" class="btn btn-primary"
            [disabled]="!commentForm.valid">
                Send comment</button>
          </form>
    </div>

</div>